/*
  StudentID: 101767225
  Student name: Duy Thuc Pham
  This file uses to setup layout for maintenace page
*/
*
table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

td, th {
    border: 1px solid;
    text-align: left;
    padding: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  margin-top: 10;
}

li {
  margin-top: 5px;
}
